extends layout.pug

block content 
    p.intro-text Individual task

    if (task)
        li= task.id
        li= task.title
        li= task.comment
        li= task.time
        li= task.done
        li= task.undone

    else 
        p Doesnt exist