extends layout.pug

block content 
    p.intro-text Individual task

    if (task)
        li= task.id
        li= task.title
        li= task.comment
        li= task.time
        li= task.done

    else 
        p Doesnt exist
    
    form(action="/delete/" + task.id, method="DELETE")
        button.btn Delete Task

    form(action=`/update-task/${task.id}`)
        button.btn Update Task
